{% include "header.html" %}
{% block content %}
    {% if not data %}
        <p>Shipping was not found.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th><a href='?sort_by=shipping_address_zip&sort={% if sort == "asc" %}desc{% else %}asc{% endif %}'>PLZ
                            {{ sort_direction }}</a></th>
                    <th><a
                            href='?sort_by=total_price_with_shipping_sum&sort={% if sort == "asc" %}desc{% else %}asc{% endif %}'>Total
                            price</a></th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.shipping_address_zip }}</td>
                    <td>{{ row.total_price_with_shipping_sum }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
{% include "footer.html" %}
