{% include "header.html" %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload...</button>
    </form>

    <p>
        <a href="/n1">Return to home</a>
    </p>
{% endblock %}
{% include "footer.html" %}
